.conteiner {
    width: 1280px;
    margin: 0 auto;

}
.ramda {
    margin-bottom: 45px;
    color:  #000000;
    font-size: 80px;
}
.colortext {
    color:  fuchsia;
}
.ramda1 {
    text-align: left;
    margin: 20px 0;
    font-family: 'Myriad Pro', sans-serif;
}
.top-menu {
    background-color:  red;
    height: 70px;
    margin-bottom: 40px;
    text-align: center;
}
.footer-menu-item, .left-menu-item, .top-menu-item, .ramda {
    text-decoration: none;
}
.top-menu-item {
    color: white;
    font-size: 24px;
    display: inline-block;
    padding: 23px 23px;
    font-family: 'Myriad Pro', sans-serif;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}
.top-menu-item:hover {
    background-color:  deeppink;
    transition-duration: 1s;
    border-left: 1px solid white;
    border-right: 1px solid white;
}


.left-menu {
    display: inline-block;
    width: 26%;
    margin-right: 6.5%;
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    overflow:hidden;
}
.left-menu-item {
    color:  purple;
    font-size: 27px;
    display: inline-block;
    padding: 27px 0 27px 30px;
    width: 299px;
    font-family: 'Myriad Pro', sans-serif;
}
.left-menu-item:hover {
    background-color: rgb(220, 220, 220);
    color: black;
    padding-left: 45px;
    transition-duration: 1s;
}
.content {
    display: inline-block;
    width: 67%;
    text-align: center;

}
.content-logo {
    padding: 75px;
    align-content: center;
    border: 1px solid black;
}

img {
    transition: all 1s ease-out;
}
img:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}
.text {
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin: 30px 40px 30px 30px;
    font-family: 'Myriad Pro', sans-serif;
}
.bottom-navbar {
    background-color: rgb(181, 184, 187);

}
.footer-menu-item, .copyright {
    color:  red;
    font-size: 28px;
    line-height: 70px;
    font-family: 'Myriad Pro', sans-serif;
}
.footer-menu {
    width: 70%;
    margin-right: 4.5%;
}
.footer-menu, .copyright {
    display: inline-block;
}
.copyright {
    width: 23%;
    text-align: right;
}
.footer-menu-item {
    margin-left: 20px;
}
.footer-menu-item:hover {
    color:  #3181a6;
    transition-duration: 2s;
    border-bottom: 2px solid #3181a6;
}
